.footer-main{
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr;
}
li{
    color:white
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}
.{
    
}